@use '../abstracts/' as *;

.main {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		background-image: url('../../public/assets/shared/desktop/bg-pattern-circle.svg');
		background-repeat: no-repeat;
		height: 78rem;
		width: 78rem;
		top: -30rem;
		right: 10rem;
		z-index: -1;
		@include breakpoint(medium) {
			top: -50rem;
			right: 0rem;
		}
		@include breakpoint(xsmall) {
			top: -55rem;
			right: -20rem;
		}
	}
}

.hero {
	&__left {
		max-width: 54.6rem;
		text-align: left;
		@include breakpoint(medium) {
			text-align: center;
			padding-bottom: 7.9rem;
			max-width: 57.3rem;
		}
	}

	&__right {
		@include breakpoint(medium) {
			transform: translateX(5rem);
		}
		@include breakpoint(medium) {
			transform: translateX(3rem);
		}
	}

	&--title {
		margin-top: 0;
	}

	&__inner {
		@include flex-center;
		justify-content: space-between;
		@include breakpoint(medium) {
			flex-direction: column-reverse;
			justify-content: center;
		}
	}

	&__form {
		position: relative;
		width: 100%;
		height: 4.8rem;
		max-width: 44.5rem;
		border-radius: 2.4rem;
		margin-top: 4rem;
		@include breakpoint(medium) {
			margin: 0 auto;
			text-align: center;
		}
		@include breakpoint(small) {
			margin-top: 4rem;
		}

		&--input {
			font-weight: 700;
			font-size: 15px;
			line-height: 18px;
			&:hover,
			&:focus {
				cursor: pointer;
			}
			&::placeholder {
				opacity: 0.5;
				color: $san-juan-blue;
			}
		}
	}

	&__field {
		width: 100%;
		background: #ffffff;
		padding: 1.6rem 2.7rem;
		border: none;
		border-radius: 2.4rem;
		box-shadow: 1px 3px 10px 1px rgba(55, 84, 109, 0.25);
		margin-left: 0.75rem;
		@include breakpoint(medium) {
			margin-left: 0;
		}
	}

	&--question {
		padding-top: 1.6rem;
		padding-left: 3rem;
		@include breakpoint(medium) {
			padding-left: 0rem;
		}
		@include breakpoint(medium) {
			padding-top: 10rem;
		}
	}

	&--contact {
		font-weight: 700;
		color: $light-san-juan-blue;
	}
}

// Work With
.work {
	padding: 10rem 0;
	@include breakpoint(medium) {
		padding: 8.8rem 0;
	}
	@include breakpoint(xsmall) {
		padding: 7.9rem 0;
	}
	background: $mirage-blue;
	position: relative;
	overflow: hidden;
	z-index: 0;
	&__inner {
		position: relative;
		@include flex-center;
		justify-content: space-between;
		@include breakpoint(medium) {
			flex-direction: column-reverse;
		}
	}
	&-overlay {
		position: absolute;
		background-image: url('../../public/assets/shared/desktop/bg-pattern-circle.svg');
		height: 78rem;
		width: 78rem;
		top: -35rem;
		left: 1rem;
		z-index: -9;
		@include breakpoint(medium) {
			top: -52rem;
			left: -2rem;
		}
		@include breakpoint(xsmall) {
			top: -57rem;
			left: -18rem;
		}
	}
	&__left {
		max-width: 44.5rem;
		@include breakpoint(medium) {
			padding-top: 6.4rem;
			text-align: center;
		}
	}

	&--title {
		color: $link-water-white;
		@include breakpoint(medium) {
			font-size: 3.2rem;
			line-height: 3.6rem;
			letter-spacing: -0.246154px;
		}
	}
	&--description {
		padding-top: 2.4rem;
		padding-bottom: 3.2rem;
		color: $link-water-white;
		opacity: 0.7;
		@include breakpoint(phone) {
			padding-bottom: 6rem;
		}
	}

	&__right {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
		grid-row-gap: 4.7rem;
		grid-column-gap: 6.2rem;
		@include breakpoint(small) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

// Features
.features {
	padding-top: 15rem;
	padding-bottom: 15rem;
	position: relative;
	overflow: hidden;
	@include breakpoint(medium) {
		padding-top: 5rem;
		padding-bottom: 10rem;
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url('../../public/assets/shared/desktop/bg-pattern-circle.svg');
		height: 78rem;
		width: 78rem;
		top: 40rem;
		right: -30rem;
		z-index: -1;
		@include breakpoint(medium) {
			display: none;
		}
	}

	&__inner {
		@include flex-center;
		justify-content: space-between;
		@include breakpoint(medium) {
			flex-direction: column;
			text-align: center;
		}
	}
	&__content {
		@include content-width;
		@include breakpoint(medium) {
			max-width: 57.3rem;
			margin-top: -4.8rem;
		}
	}

	&__top {
		@include breakpoint(medium) {
			padding-bottom: 10rem;
		}
		@include breakpoint(xsmall) {
			padding-bottom: 8rem;
		}
	}

	&__image {
		margin: auto;
	}

	&--description {
		padding-top: 2.4rem;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@include breakpoint(medium) {
			flex-direction: column-reverse;
			text-align: center;
		}
		&-images {
			transform: translateX(10rem);
			@include breakpoint(medium) {
				transform: translateX(5rem);
			}
			@include breakpoint(medium) {
				transform: translateX(0rem);
			}
		}
	}
}

// Offers
.offers {
	padding-bottom: 9.6rem;
	@include breakpoint(xsmall) {
		padding-bottom: 8rem;
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: flex-start;
		justify-content: center;
		text-align: center;
		grid-gap: 3rem;
		@include breakpoint(medium) {
			grid-gap: 0.5rem;
		}
		@include breakpoint(medium) {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 4.8rem;
		}
	}

	&--title {
		padding-top: 3.2rem;
		padding-bottom: 1.6rem;
	}
}

// Subscription
.subscription {
	&__inner {
		padding-bottom: 9.6rem;
		@include flex-center;
		justify-content: space-between;
		@include breakpoint(medium) {
			flex-direction: column;
			text-align: center;
		}
	}
	&__left {
		width: 100%;
		// @include breakpoint(medium) {
		// 	width: 44.5rem;
		// }
	}

	&--title {
		font-size: 48px;
		line-height: 56px;
		/* identical to box height, or 117% */

		letter-spacing: -0.369231px;
	}

	&__right {
		width: 100%;
		margin-left: 15rem;
		@include breakpoint(medium) {
			padding-top: 4rem;
			margin-left: 0;
		}
	}
}
