@use '../abstracts/' as *;

.main {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		background-image: url('../../public/assets/shared/desktop/bg-pattern-circle.svg');
		height: 78rem;
		width: 78rem;
		top: -30rem;
		right: 10rem;
		z-index: -1;
	}
}

.hero {
	&__left {
		max-width: 54.6rem;
	}

	&__inner {
		@include flex-center;
		justify-content: space-between;
	}

	&__form {
		position: relative;
		width: 100%;
		height: 4.8rem;
		max-width: 44.5rem;
		border-radius: 2.4rem;

		&--input {
			font-weight: 700;
			font-size: 15px;
			line-height: 18px;

			&::placeholder {
				opacity: 0.5;
				color: $san-juan-blue;
			}
		}
	}

	&__field {
		width: 100%;
		background: #ffffff;
		padding: 1.6rem 2.7rem;
		border: none;
		border-radius: 2.4rem;
		box-shadow: 1px 3px 10px 1px rgba(55, 84, 109, 0.25);
		margin-left: 0.75rem;
	}

	&--question {
		padding-top: 1.6rem;
		padding-left: 3rem;
	}

	&--contact {
		color: $light-san-juan-blue;
	}
}

// Work With
.work {
	padding: 10rem 0;
	background: $mirage-blue;
	position: relative;
	overflow: hidden;
	z-index: 0;
	&__inner {
		position: relative;
		@include flex-center;
		justify-content: space-between;
	}
	&-overlay {
		position: absolute;
		background-image: url('../../public/assets/shared/desktop/bg-pattern-circle.svg');
		height: 78rem;
		width: 78rem;
		top: -35rem;
		left: 1rem;
		z-index: -9;
	}
	&__left {
		max-width: 44.5rem;
	}

	&--title {
		color: $link-water-white;
	}
	&--description {
		padding-top: 2.4rem;
		padding-bottom: 3.2rem;
		color: $link-water-white;
		opacity: 0.7;
	}

	&__right {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
		grid-row-gap: 4.7rem;
		grid-column-gap: 6.2rem;
	}
}

// Features
.features {
	padding-top: 15rem;
	padding-bottom: 15rem;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		background-image: url('../../public/assets/shared/desktop/bg-pattern-circle.svg');
		height: 78rem;
		width: 78rem;
		top: 50rem;
		right: -30rem;
		z-index: -1;
	}

	&__inner {
		@include flex-center;
		justify-content: space-between;
	}
	&__content {
		@include content-width;
	}

	&__left-top {
		margin-left: 0rem;
	}

	&--description {
		padding-top: 2.4rem;
	}

	&__bottom {
		// @include flex-center;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}

.images {
	transform: translateX(10rem);
}

// Offers
.offers {
	padding-bottom: 9.6rem;
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
		grid-gap: 3rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&--title {
		padding-top: 3.2rem;
		padding-bottom: 1.6rem;
	}
}

// Subscription
.subscription {
	&__inner {
		padding-bottom: 9.6rem;
		@include flex-center;
		justify-content: space-between;
	}
	&__left {
		width: 100%;
	}

	&__right {
		width: 100%;
		margin-left: 15rem;
	}
}
