@use '../abstracts' as *;

.navbar {
	@include flex-center;
	justify-content: space-between;
	height: 9.6rem;

	&__left {
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-right: 6.4rem;
		&:hover,
		&:focus {
			cursor: pointer;
		}
	}

	&__links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
		grid-gap: 4rem;
	}
}
