@use '../abstracts' as *;

.navbar {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 9.6rem;
	width: 111rem;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
	@include breakpoint(small) {
		justify-content: center;
	}
	z-index: 9;

	&__left {
		display: flex;
		align-items: center;
		@include breakpoint(small) {
			justify-content: center;
		}
	}
	&__logo {
		margin-right: 6rem;
		cursor: pointer;
		@include breakpoint(xsmall) {
			margin-right: auto;
		}
	}

	&--items {
		@include breakpoint(xsmall) {
			color: $link-water-white;
			font-weight: bold;
			font-size: 2rem;
			line-height: 2.3rem;
			text-align: center;
			opacity: 0.7;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 3.2rem;
		@include breakpoint(xsmall) {
			display: none;
			text-align: center;
			align-items: center;
			flex-direction: column;
			padding-top: 13.9rem;
			position: absolute;
			top: 0;
			width: 70%;
			height: 100vh;
			right: -100%;
			transition: all 0.5s ease;
			&.active {
				display: flex;
				background: rgb(28, 39, 49);
				box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
				right: 0;
			}
		}
	}
}

// Hamburger
.fas {
	display: none;
	font-size: 2.8rem;
	color: $san-juan-blue;
	position: absolute;
	top: 40%;
	right: 5rem;
	cursor: pointer;
	z-index: 999;
	@include breakpoint(xsmall) {
		display: block;
	}

	&.active {
		color: $link-water-white;
	}
}

.navbar .btn--desktop {
	margin-left: auto;
}
