@use '../abstracts' as *;

// Base Button Styling
.btn {
	display: inline-block;
	font-family: 'Public Sans';
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: -0.115385px;
	line-height: 1.8rem;
	border-radius: 2.8rem;
	outline: none;
	border: none;
	&:hover,
	&:focus {
		cursor: pointer;
	}
}

// BUTTON STYLES

// First Button
.btn--primary {
	background: $dark-pink;
	color: $link-water-white;
	&:hover,
	&:focus {
		background: $charm-pink;
	}
}

// Second Button

.btn--secondary {
	// &:hover,
	// &:focus {

	// }
	// @extend %btn;
}

// Third Button
.btn--tertiary {
	// &:hover,
	// &:focus {

	// }
}

// Button Sizes

// Desktop Button
.btn--desktop {
	width: 17.1rem;
	height: 4.8rem;
	margin: 0 auto;
	
}
