@use '../abstracts/' as *;

h1,
h2,
h3,
h4 {
	font-family: 'DM Serif Display';
	font-weight: 400;
	color: $san-juan-blue;
}

h1 {
	font-size: 7.2rem;
	font-weight: 400;
	line-height: 7.2rem;
	letter-spacing: -0.55px;
	@include breakpoint(medium) {
		font-size: 4.8rem;
		line-height: 5.6rem;
		letter-spacing: -0.369231px;
	}
	@include breakpoint(xsmall) {
		font-size: 3.2rem;
		line-height: 3.6rem;
		letter-spacing: -0.246154px;
	}
}

h1.tablet {
	font-size: 5.6rem;
	line-height: 5.6rem;
	letter-spacing: -0.430769px;
}

h2 {
	font-size: 4.8rem;
	line-height: 5.6rem;
	letter-spacing: -0.369231px;
}

h3 {
	font-size: 3.2rem;
	line-height: 4rem;
	letter-spacing: -0.246154px;
	@include breakpoint(medium) {
		font-size: 1.8rem;
		line-height: 2.5rem;
		letter-spacing: -0.138462px;
	}
}

h3.tablet {
	font-family: 'Public Sans';
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.5rem;
	letter-spacing: -0.138462px;
}

h4 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: -0.184615px;
}

p,
li {
	font-family: 'Public Sans';
	font-size: 1.5rem;
	line-height: 2.8rem;
	color: $light-san-juan-blue;
}

a {
	font-family: 'Public Sans';
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: $san-juan-blue;
	text-decoration: none;
	text-transform: capitalize;
	opacity: 0.7;
	&:hover,
	&:focus {
		cursor: pointer;
		opacity: 1;
	}
}
